/** Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,700&display=swap");

/** Basic styling */
body {
  font-family: "Poppins", cursive;
  height: 100%;
  display: flex;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #272727;
  background-color: #fdfdfd;
  background-color: #efefef;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
  -moz-font-feature-settings: "kern" 1;
  -o-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin: 0;
}

#content {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-top: 5vw;
  padding-left: 1vw;
  padding-right: 1vw;
}

/** Links */
a {
  color: #272727;
  text-decoration: none;
}

a:hover {
  color: #272727;
  text-decoration: underline;
  text-decoration-style: dashed;
}

.navbar li.active a {
  color: #383838;
  cursor: default;
}

h1 {
  position: absolute;
  font-size: 16rem;
  line-height: 0.9;
  margin-bottom: 0.5rem;
  padding-left: 0;
  padding-top: 10vh;
}

h2 {
  font-size: 8rem;
}

#noise {
  position: fixed; /* Sit on top of the page content */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  mix-blend-mode: hard-light;
  opacity: 0.4;
  background-color: rgba(255, 255, 255, 0.1);
  z-index: 100;
  pointer-events: none;
}

.navbar {
  list-style-type: none;
  margin: 0;
  position: fixed;
  padding: 0;
  font-size: 4rem;
  padding-left: 15px;
  mix-blend-mode: multiply;
}

.navbar * {
  display: inline;
  padding-right: 20px;
}
